body, html, .issueContainer, .jt-menu, .toolbar-unpined {
    background: #3e3e3e !important;
}

.issueContainer, .ring-menu__item__i:not(:hover), .jt-menu-button.ring-btn.view-mode, .jt-menu > li > a, .ring-footer {
    color: white !important;
}

.issueContainer:hover, .sidebar-toggler:hover, .vert-list-item:hover {
    background: #455a79 !important;
}

.jt-menu li:hover {
    background-color: #124c90 !important;
}

.highlightedWord {
    background: #00b000 !important;
}

.issue-summary, .issueId.issueIdAnchor {
    color: #1466c6 !important;
}

.issueContainer, .ring-btn {
    border-bottom: 1px solid #1466c6 !important;
    border-top: 1px solid #1466c6 !important;
    border-right: 1px solid #1466c6 !important;
    border-left: 1px solid #1466c6 !important;
}

.sidebar-toggler {
    border-right: 1px solid #1466c6 !important;
}